@charset "utf-8";
/* CSS Document */

/*Base styling - til store skærme - media queries er nederst*/
* {
	margin: 0;
	border: 0;
	padding: 0;
}

	body {
		background: #F1F6F8;
		font-family: 'lato', sans-serif;
		
		margin: 0 auto;
}

	p {
		font-family: 'lato', sans-serif;
		
		font-size: 17px;
		
		text-align: left;
}
/* Overskrifter*/
	h3 {
		font-size: 175%;
		line-height: 155%;
		font-weight: 600; 
		color: #B2C345;
		text-align: center;
		text-transform: uppercase;
		padding: 0;
}

/*Links i menuer*/
	a {
		color: #524C56;
		text-decoration: none;
		font-weight: bold;
		font-size: 90%;
}
	a:hover {
		color: #C3D7DF;
}
/*Billeder*/
	img {
		display: block;
		margin: 0 auto;
		max-width: 100%;
		height: auto;
		width: auto;
		margin-bottom: -4px;
}

/*Styling af wrapper*/
	#wrapper {
		max-width: 1100px;
		margin: 0 auto; /*centrere det på siden*/
}
/*banner wrapper*/
	.banner-wrapper {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 0 5% 0; /*de 5% tilf'jer lidt plads under billed slideren*/
}

	header {
		width: 100%;
		height: 100px;
		top: 0;
		left: 0;
}

	#logo {
		margin-top: 20px;
		margin-left: -10px;
		float: left;
		width: 200px;
		height: 60px;
		background: url(../img/icons/sweetbot_logo.png) no-repeat center;
}
	#hotbot {
		margin-top: -40px;
		float: right;
		width: 100px;
		height: 100px;
		 
	}
/*Navigations menu starter*/
	nav {
		float: right;
		padding: 25px 20px 0px 0px;
		margin-right: -40px;
}
/* Hamburger menu - mobil version*/
	#menu-icon {
		display: hidden;
		width: 40px;
		height: 40px;
		margin-top: -5px;
		background: url(../img/icons/nav-blue.png) center;
}


/*selve menuen er jo en liste, her bliver den til en ordentlig menu*/
	ul {
		list-style: none /*fjerner liste punkterne*/
}
	nav ul li {
		font-family: 'lato', sans-serif;
		font-size: 130%;
		display: inline-block; /*så de bliver vandrette*/
		float: left;
		padding: 10px; 
}
	nav ul li a { /*styling a menu links*/
		color: #749CD3;
}
/*Den side man er på*/

	a:hover {
		color: #A5BDCD;
}

/*Navigations menu færdig!*/







/*FORSIDEN*/



/*Gallery Slider*/
	.slider {
		max-width: 1200px;
}
	.slider1 img {
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
}
/*fjerne previous og next knapper til slider navigation*/
	.slider .bx-wrapper .bx-controls-direction a {
		display: none;
}
/*Tre Ikoner*/
	.one-third {
		width: 33.333%;
		float: left;
		text-align: justify;
		text-align: center;
}
/*Ikon baggrund*/
	.icon-wrap {
		margin: 0 auto;
		width: 300px;
		height: 300px;
		border-radius: 100%; /*gør den runde*/
		text-align: center;
		margin-top: 8%;
		margin-bottom: 8%;
}
/*ikoner*/
	.icon-wrap i {
		text-align: center;
		color: #F0F0F0;
		font-size: 450%;
		padding: 20%;
}
/*venstre paragraf kolonne*/
	.left-col {
		float: left;
		margin: 0 auto;
		width: 48%;
		height: auto;
		padding: 1%;
}
/*computer billede*/
	.sidebar {
		float: right;
		margin: 0 auto;
		width: 48%;
		height: auto;
		padding: 1%;
}
	.one-third-padding {
		width: 29%;
		float: left;
		margin: 2%;
		text-align: justify;
}
/*mellemrum*/
	.clearfix-padding {
		clear: both;
		padding: 2%;
}

/*FORSIDEN SLUT*/



/* Ydelser Start*/

.picture-code {
	float: left;
	width: 40%;
	margin: 80px 25px 10px 100px;
}

.picture-security {
	float: right;
	width: 40%;
	margin: 80px 115px 10px 55px;
}
.ydelser {
	font-family: lato, sans-serif;
	font-size: 17px;
	margin-right: auto;
	margin-left: auto;
}

.ydelser2 {
	font-family: lato, sans-serif;
	font-size: 15px;
	margin-left: 55px;
}

h2 {
		font-family: lato, sans-serif;
		font-size: 36px;
		margin-left: 353px;
		margin-top: 35px;
	}

h4 {
	font-family: lato, sans-serif;
	font-size: 25px;
	margin-top: 100px;
	text-align: center;
}
	.left-col-branding {
		float: right;
		margin: 0 auto;
		width: 48%;
		height: auto;
		padding: 1%;
}
/*computer billede*/
	.sidebar-branding {
		float: left;
		margin: 0 auto;
		width: 48%;
		height: auto;
		padding: 1%;
}

/*Ydelser Slut*/

/*Om os - start*/

	.half-padding {
		width: 39%;
		float: left;
		margin: 2%;
		text-align: justify;
}
	.sidebar1 {
		width: 90%;
		align-content: center;
		display: block;
    	margin-left: auto;
    	margin-right: auto; 
		margin-bottom: 50px;
	}
/*om os - færdig*/




/*Kontakt formular*/
#kontakt{
	margin-top: 50px;
	margin-left: 0px;
	background-attachment: fixed;
	margin: 70px;
	align-content: center;
	padding: 50px 10px 10px 10px;
	display: flex;
	font-family:'lato', sans-serif;
}
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #DF9B67;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker purple color */
input[type=submit]:hover {
    background-color: #C9DB50;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
p{
	line-height: 25px;
	font-family: 'lato', sans-serif;
}
.quote{
	margin-top: 300px;
}
.kontakt-mellemrum-øverst {
	height:20px;
}
#kontakt-mellemrum {
	height: 140px;
}

/*Kontakt Formular Slut*/



/* Her begynder hotbotsiden */
 
#banner {
	background-image: url("../img/pics/hotbot.jpg");
	background-size: cover;
	padding: 150px 0;
	text-align: center;
	color: white;
}

#banner h1 {
	color: white;
}

#banner p {
	color: white;
	font-size: 20px;
	text-align: center;
	font-weight: lighter;
	
}

.card {

	padding: 50px;
	text-align: center;
}
.card p {
	font-size: 100%;
}

.card img {
	width: 100%;
	height: auto;
}



/*Footer starter*/
	footer {
		background: #749CD3;
		width: 100%;
		overflow: auto;
		height: 100px;
		margin-bottom: 0px;
	
}
	.footer-tekst {
		font-size: 145%;
		font-family: 'lato', sans-serif;
		line-height: 155%; 
		font-weight: -100;
		color: white;
		text-align: center;
		padding-top: 30px;
}
/*Footer Slut*/






/*Media Queries*/

/* Medium skærme*/
@media screen and (max-width: 1080px) {
	
		.icon-wrap {
		height: 230px;
		width: 230px;
		margin-top: 3%;
	}
	
		h3 {
		font-size: 140%;
	}
}
	
/*Mobiler*/
@media screen and (max-width: 768px) {

	p {
		font-size: 120%;
	}
	h3 {
		font-size: 140%;
	}
	header {
		height: 80px;
		position: relative;
	}
	#logo {
		margin: 5px 0 20px -5px;
	}
	#menu-icon { /*hamburger menu*/
		display: inline-block;
		margin-right: 40px;
	}
	nav:hover ul {
		display: block;
	}
	nav ul, nav:active {
		display: none;
		z-index: 1000; /*vises øverste lag*/
		position: absolute;
		opacity: 0.9;
		background: #F5F5F5;
		border: 3px solid #749CD3; 
		right: 5px;
		width: 25%;
	}
	nav li {
		text-align: center;
		width: 100%;
		z-index: 1001; /*vises øverste lag*/
	}
	nav img {
		text-align: center;
	}
	.one-third {
		float: right;
		width: 100%;
	}
	.icon-wrap {
		height: 130px;
		width: 130px;
		margin-top: 3%;
	}
	.left-col {
		width: 100%;
		padding: 0;
	}
	.sidebar {
		width: 98%;
		margin: 0;
		padding: 1%;
	}
		.left-col-branding {
		width: 100%;
		padding: 0;
	}
	.sidebar-branding {
		width: 98%;
		margin: 0;
		padding: 1%;
	}
	.one-third-padding {
		width: 98%;
		margin: 0;
		padding: 1%;
	}
	.footer-tekst {
		font-size: 120%;
		padding-top: 40px;
	}
}










